/* Colour scheme based on tokyo night, requires a nerd font */

tooltip,
window#waybar {
  background-color: rgba(26, 27, 38, 0.9);
  color: #a9b1d6;
  font-family: "JetBrainsMono NF", sans-serif;
  font-size: 14px;
}

tooltip {
  border: 1px solid rgba(122, 162, 247, 0.8);
}

label.module:not(#custom-separator),
#workspaces button,
#window {
  padding: 0 6px;
  margin: 2px 0;
  border-radius: 4px;
  transition: background-color 0.5s;
}

label.module:not(#custom-separator):hover,
#workspaces button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

#privacy,
#tray {
  padding: 0 4px;
}

#custom-separator,
#pulseaudio.muted,
#network.disconnected {
  color: #444b6a;
}

#privacy-item.audio-in {
  color: #f7768e;
}

#workspaces button.urgent,
#tray > .needs-attention {
  color: #f7768e;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

@keyframes blink {
  to {
    color: #a9b1d6;
  }
}
