/* Requires a nerd font
* Color-scheme based on tokyo-night
*/

* {
    font-family: "JetBrainsMono NF", sans-serif;
    font-size: 14px;
}

window#waybar {
    background-color: transparent;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

#waybar.empty #window {
    background: none;
    color: transparent;
}

button {
    /* Avoid rounded borders under each button name */
    border: none;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
}

#workspaces button,
#window,
#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#pulseaudio,
#wireplumber,
#tray,
#custom-menu {
    padding: 8px;
    margin: 4px 2px 0 2px;
    color: #a9b1d6;
    background-color: rgba(26, 27, 38, 0.8);
    border-radius: 4px;
    min-width: 16px;
}

#workspaces {
    background-color: transparent;
}

/*#workspaces button:hover,
#workspaces button.visible {
    background: rgba(50, 50, 50, 0.8);
}*/

#pulseaudio.muted,
#wireplumber.muted,
#network.disconnected {
    color: #444b6a
}

#battery.charging, #battery.plugged {
    color: #9ece6a;
}

@keyframes blink {
    to {
        color: #a9b1d6;
    }
}

#battery.critical:not(.charging),
#workspaces button.urgent,
#temperature.critical,
#tray > .needs-attention {
    color: #f7768e;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #32344a;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}
