* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
}

window#waybar {
    background-color: transparent;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

#waybar.empty #window {
    background: none;
    color: transparent;
}

button {
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 4px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
}

#workspaces,
#window,
#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#pulseaudio,
#wireplumber,
#tray,
#custom-menu {
    padding: 0 8px;
    margin: 4px 2px 0 2px;
    color: #ffffff;
    background-color: rgba(38, 38, 38, 0.8);
    border-radius: 4px;
    min-width: 16px;
}

#workspaces button.active {
    background-color: rgba(255, 255, 255, 0.1)
}

#workspaces button {
    margin: 2px 1px;
    background-color: transparent;
}

#workspaces button:hover {
    background: rgba(255, 255, 255, 0.05);
}

#pulseaudio.muted,
#wireplumber.muted,
#network.disconnected {
    color: #707880
}

#battery.charging, #battery.plugged {
    color: #26A65B;
}

@keyframes blink {
    to {
        color: #fff;
    }
}

#battery.critical:not(.charging),
#workspaces button.urgent,
#temperature.critical,
#tray > .needs-attention {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}
