configuration {
    display-drun: "";
    display-window: "Windows:";
    drun-display-format: "{icon} {name}";
    font: "JetBrains Mono 12";
    modi: "window,drun,run";
    show-icons: true;
    scroll-method: 1; /* continuous scrolling */
}

@theme "theme.rasi"

/* vim:ft=css */
